{% extends '/master/default.twig' %}
{% set subtitle = "Strona główna" %}

{% block main %}

    <input type="text" name="name" class="js-name">
    <input type="text" name="surname" class="js-surname">
    <input type="text" name="query" class="js-query">
    <div class="js-results">
        Pusto :*
    </div>

{% endblock %}
